---
import Icon from "../icon.astro";
import IconButton from "../actions/icon-button.astro";
interface Props {
	type?: 'basic' | 'full',
	id?: string,
	className?: string,
	slot?: string,
	style?: string
}

const { type = 'basic', id, className, slot, style } = Astro.props

// to open (replace 100% with 0 to close): document.querySelector('#test').style.height = '100%'
---

{type == 'basic' ? <div class:list={["scrim md-motion-easing-emphasized md-motion-duration-long2", className]} id={id} slot={slot} style={style}><div class:list={['basic', 'md-elevation-3', 'md-shape-corner-extra-large']}>
	<Icon size="24px" color="var(--md-color-secondary)"><slot name="icon" /></Icon>
	<p class="md-typescale-headline-small" style="color: var(--md-color-on-surface); margin: 8px 0 16px 0;"><slot name="headline" /></p>
	<p class="md-typescale-body-medium" style="color: var(--md-color-on-surface-variant); margin: 0 0 24px 0;"><slot name="supporting" /></p>
	<slot />
	<div style="display: flex; flex-direction: row; width: 100%; justify-content: end;"><slot name="buttons" /></div>
</div></div> : <div class:list={["container md-motion-easing-emphasized md-motion-duration-extra-long4", className]} id={id} slot={slot} style={style}>
	<header>
		<IconButton color="var(--md-color-on-surface)" onclick="document.querySelector('#test').style.height = '0';">close</IconButton>
		<p class="md-typescale-title-large" style="width: 100%; padding-left: 16px;"><slot name="headline" /></p>
		<slot name="button" />
	</header>
	<div style="padding: 24px;">
		<slot />
	</div>
</div>}

<style>
	.scrim {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		display: flex;
        align-items: center;
        justify-content: center;
        background: #0000000C;
        overflow: hidden;
	}

	.basic {
        background: var(--md-color-surface-container-high);
        position: relative;
        overflow: hidden;
		padding: 24px;
		display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
		width: 80%;
		max-width: 500px;
		z-index: 2;
	}

	.basic::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  var(--md-color-surface-tint);
        overflow: hidden;
	}

	.container {
        background: var(--md-color-surface);
        width: 100%;
        height: 0;
        position: absolute;
		bottom: 0;
		left: 0;
	}

	header {
        height: 56px;
		display: flex;
		flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 24px 0 8px;
	}
</style>